.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.calculator-logo {
  background: var(--color-blue);
  color: var(--color-white);
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.calculator-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 3rem;
  font-weight: 650;
  font-size: 1.3rem;
}

.calculator-inputs div {
  text-transform: uppercase;
  border-radius: 5px;
  margin-block: 0.15rem;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-black);
}

.calculator-inputs div:nth-of-type(odd) {
  background-color: var(--color-purple);
}
.calculator-inputs div:nth-of-type(even) {
  background-color: var(--color-grey);
}

.input-name {
  width: 100%;
  padding-inline: 1rem;
}

.input-body {
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-body input {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: var(--color-light-grey);
}

.delivery-icon {
  text-transform: none !important;
  padding-right: 1.15rem;
}

.input-body input:focus {
  outline: none;
}

.date-input {
  width: fit-content !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.calculator-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calculator-btn div {
  border-radius: 5px;
  height: 3rem;
  background-color: var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-btn button {
  text-transform: uppercase;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn-calculate {
  width: 75%;
  margin-right: 0.5rem;
}

.btn-refresh {
  width: 25%;
}

.calculator-result {
  border-radius: 5px;
  background-color: var(--color-pink);
  width: 100%;
  margin-top: 1rem;
  height: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.calculator-result div {
  height: 100%;
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calculator-result div div {
  padding-inline: 0rem;
}
