.nav-bar-container {
  background-color: var(--color-blue);
  color: var(--color-white);
  width: 90%;
  min-height: 5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.nav-bar-container div {
  padding-inline: 2rem;
}

.nav-bar-logo {
  font-size: 1.4rem;
  font-family: 'Fearce';
  padding-block: 0.75rem;
  margin-inline: 0.5rem;
}
.nav-bar-logo a {
  text-decoration: none;
  color: white;
}

.nav-bar-btns {
  font-size: 1.2rem;
}

.nav-bar-btns span {
  letter-spacing: 1.5px;
  margin-inline: 1rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
}
