.nav-bar-container {
  border-bottom: 1px solid red;
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar-logo {
  position: fixed;
  left: 2rem;
  font-size: 2rem;
}

.nav-bar-btns {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav-bar-btns span {
  padding-inline: 2rem;
}
