.nav-bar-container {
  border: 1px solid red;
  width: 90%;
  min-height: 5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-bar-container div {
  padding-inline: 2rem;
}

.nav-bar-logo {
  font-size: 2rem;
}
.nav-bar-logo a {
  text-decoration: none;
  color: white;
}

.nav-bar-btns {
  font-size: 1.5rem;
}

.nav-bar-btns span {
  padding-inline: 2rem;
}
