@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Fearce';
  src: local('Fearce'), url('./fonts/Fearce/Fearce.ttf') format('truetype');
  font-weight: normal;
}

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-black: #0f0f0f;
  --color-white: #f7f7f7;
  --color-light-grey: #5b5b5a;
  --color-purple: #9b9be0;
  --color-blue: #7d77d8;
  --color-pink: #da8aa3;
  --color-grey: #bcbcdd;

  color-scheme: light dark;
  background: rgb(125, 119, 216);
  background: linear-gradient(
    0deg,
    rgba(125, 119, 216, 1) 25%,
    rgba(218, 138, 163, 1) 92%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.root-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.btn {
}

.btn:hover {
  cursor: pointer;
}

.btn button:hover {
  cursor: pointer;
}
